@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root{
  --blue : #1320DC;
  --text-gray : #9b9ca9;
  --pink : #FB0A72;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1320DC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(19, 32, 220, 0.8);
}

body {
  font-size: 1.6rem !important;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
}
header{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar{
  width: 93%;
  height: 90%;
  border-bottom: 2px solid rgb(240, 237, 237) ;
  display: flex;
}
.header--left{
  width: 23%;
  height: 100%;
  display: flex;
  align-items: center;
}
#search{
  width: 100%;
  padding: 10px;
  background-color: rgb(240, 239, 239);
  border: none;
  font-size: 1.6rem;
  border-radius: 5px;
  outline: none;
}
.header--center{
  width: 47%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header--right{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btn--login-one{
  padding: 5px;
  width: 100px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 5px;
  color: var(--blue);
  border: 2px solid var(--blue);
  background-color: white;
  margin-right: 5px;
}
#btn--login-one:hover{
  color: white;
  background-color: var(--blue);
  border: 2px solid var(--blue);
  margin-right: 5px;
}
#btn--login-two{
  padding: 5px;
  width: 100px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 5px;
  color: white;
  border: 2px solid var(--blue);
  background-color: var(--blue);
}
#btn--login-two:hover{
  color: var(--blue);
  background-color: white;
  border: 2px solid var(--blue);
  margin-right: 5px;
}
#Language{
  width: 100px;
  height: 40px;
  font-size: 1.3rem;
  margin-right: 5px;
}
#devise{
  width: 80px;
  height: 40px;
  font-size: 1.5rem;
  margin-right: 5px;

}

nav{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
li{
  margin-left: 10px;
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--text-gray);
}
a:hover{
  color: var(--blue);
}
.main{
  width: 100%;
  height: 600px;
  /* background-image: url("icones/Groupe-45.png"); */
  object-fit: cover;
  background-color: rgb(94, 94, 246);
}
/* .main img{
  object-fit: cover;
  width: 100%;
  height: 100%;
} */

.box{
  width: 600px;
  height: 300px;
  position: absolute;
  left: 100px;
  top: 300px;
  color: white;
}
h1{
  margin-bottom: 25px;
}
.buy{
  padding: 10px;
  width: 200px;
  background-color: var(--pink);
  border: none;
  margin-top: 25px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.buy:hover{
  padding: 10px;
  width: 200px;
  color: var(--pink);
  border: 1px solid var(--pink);
  background-color: white;
  border-radius: 5px;
}
.categories{
  width: 100%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row{
  width: 95%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;  
}
.col{
  width: 30%;
  height: 90%;
  border-radius: 5px;
  border: 1px solid var(--text-gray);
  /* background-image: url('images/xbanner-03.jpg.pagespeed.ic.1rqLomOaMb.webp'); */
}
.col p{
  position: relative;
  left: 10px;
  top:20px;
  color: var(--blue);
  font-weight: bold;
  font-size: 1.8rem;
}
.container{
  width: 100%;
  height: auto;
  background-color: rgb(241, 239, 239);
  display: flex;
}
.left--part{
  width: 20%;
  height: 100vh;
  padding: 2rem;
  background-color: white;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
  transition: all .4s ease-in-out;
  }
.right--part{
  width: 80%;
  height: 100%;
  display: block;
  align-items: center;
}
h4{
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 1.8rem;
  color: var(--blue);
  border-bottom: 1px solid var(--text-gray);
  cursor: pointer;
}
.onglet{
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 1.8rem;
  color: var(--text-gray);
  border-bottom: 1px solid var(--text-gray);
  cursor: pointer;
}
.right--part--content{
  width: 100%;
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.card{
  width: 263px;
  height: 400px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
.card--product{
  width: 90%;
  height: 95%;
}
.card--product--image{
  width: 100%;
  height: 55%;
}
.card--product--image:hover img{
  transform: scale(0.9);
}
.card--product--image img{
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  transition: 0.5s ease-in-out;
}
.card--product--content{
  width: 100%;
  height: 45%;
  /* border: 3px solid coral; */
}
.name--product{
  width: 100%;
  height: 30%;
  font-size: 2.2rem;
  font-weight: bold;
}
.descrption--product{
  width: 100%;
  height: 35%;
}
.prices{
  font-weight: bold;
  font-size: 1.3rem;
}
span{
  color: var(--text-gray);
  font-weight: normal;
}
.button--block{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn--buy{
  width: 70%;
  height: 90%;
  border: 1px solid var(--blue);
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.btn--add{
  width: 25%;
  height: 90%;
  border: 1px solid var(--blue);
  border-radius: 5px;
  background-color: white;
  color: var(--blue);
  cursor: pointer;
}
.btn--buy:hover{
  background-color: white;
  color: var(--blue);
  border: 1px solid var(--blue);
  transition: ease-in-out 0.3s;
}
.btn--add:hover{
  background-color: var(--blue);
  color: white;
  transition: ease-in-out 0.3s;
}
.more{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
button{
  padding: 10px;
  width: 120px;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 5px;
  color: var(--blue);
  border: 2px solid var(--blue);
  background-color: white;
}
button:hover{
  background-color: var(--blue);
  color: white;
  transition: ease-in-out 0.3s;
}

footer{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart--icon{
  width: 80px;
  height: 70px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 180px;
  left: 1370px;
  right: 0;
  border-radius: 5px 0 0 5px;
}
.counter{
  width: 17px;
  height: 17px;
  background-color: var(--pink);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 200px;
  left: 1410px;
  right: 0;
  border-radius: 50%;
  color: white;
}
.fa-bag-shopping{
    color: white;
    cursor: pointer;
    /* height: 50px !important;
    width: 50px !important; */
}
.cart--container{
  width: 300px;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 1150px;
  visibility: hidden;
  transform: translateX(200%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.OpenCart.cart--container{
  visibility: visible;
  transform: translateX(0%);
  transition: ease-in-out 0.8s;
}
.cart--container--block{
  width: 260px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid coral; */
}
.cart--container--header{
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid rgb(235, 229, 229);
}
.btn--close{
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart--description{
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
}
.cart--description > .fa-bag-shopping {
 color: var(--blue);
 margin-right: 10px;
}
.cart--description > p{
  color: var(--blue);
 }

 .cart--container--content{
  width:100%;
  height: 450px;
  /* border: 1px solid coral; */
 }
.cart--articles{
  width: 100%;
  height: 85px;
  border-bottom: 1px solid rgb(235, 229, 229);
  display: flex;
 }
 .cart--articles--descriptions{
    width: 74%;
    height: 100%;
    display: flex;
  align-items: center;
  justify-content: center;
 }
 /* .btn{
  border: 1px solid coral;
  width: 13%;
  height: 100%;
 } */
 .button-block{
  width: 13%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .handle--quantity{
  width: 80%;
  height: 85%;
  background-color: #eaebf6;
 }
 .minus{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 }
 .qty{
  width: 100%;
  height:50%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .plus{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
 }
 .block--articles{
    width: 100%;
    height: 80%;
    display: flex;
 }
 .articles{
  width: 43%;
  height: 100%;
 }
 .articles--details{
  width: 57%;
  height: 100%;
 }
 .articles img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
 }
 .names--articles{
  color: var(--text-gray);
  font-size: 1.5rem;
 }
 .price--articles{
  color: var(--blue);
  font-size: 1.5rem;
  margin-top: 3px;
  font-weight: bold;
 }
 .quantity{
  color: var(--text-gray);
  margin-top: 0.5rem;
  font-size: 1.5rem;
 }
 .btn--remove--article{
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 }
/* hfhfhf */
 .profil{
  border: 1px solid coral;
  width: 30%;
  height: 100%;
 }
 main {
  padding: 10px 80px 0 80px;
  display: flex;
 }
 .main--content--left{
  width: 58%;
  height: 530px;
  border: 1px solid coral;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
 }
 .images--container{
  width: 100%;
  height: 77%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-gray);

 }
 .images--container img{
  width: 55%;
  height: 100%;
 }
 .images--container--content{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
 }
 .images--thumbails{
  width: 100px;
  height: 85%;
  border: 1px solid var(--text-gray);
  margin-right: 5px;
  cursor: pointer;
 }
 .images--thumbails img{
  width: 100%;
  height: 100%;
 }
 .main--content--right{
  width: 42%;
  height: 500px;
  border: 1px solid coral;
 }
 h2{
  margin-bottom: 5px;
  font-size: 2.5rem;
 }
 .price--per--unit{
  font-size: 3rem;
  color: var(--blue);
  font-weight: bold;
 }
 p{
  color: var(--text-gray);
 }
 .block--button{
  width: 65%;
  height: 50px;
  border: 1px solid coral;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
 }
 .btn--one{
  width: 58%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--pink);
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .btn--two{
  width: 40%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--blue);
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .btn--one:hover{
  border-radius: 5px;
  background-color: white;
  color: var(--pink);
  cursor: pointer;
  border: 2px solid var(--pink);
 }
 .btn--two:hover{
  border-radius: 5px;
  background-color: white;
  border: 2px solid var(--blue);
  color: var(--blue);
  cursor: pointer;
 }
 .details--articles{
  width: 100%;
  margin-top: 0.8rem;
 }
 .sale{
  margin-top: 30px;
  margin-bottom: 20px;
 }